html {
	background: rgb(140,156,154); /* Old browsers */
	background: -moz-linear-gradient(left,  rgb(140,156,154) 0%, rgb(157,178,177) 30%, rgb(157,178,177) 70%, rgb(140,156,154) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(140,156,154)), color-stop(30%,rgb(157,178,177)), color-stop(70%,rgb(157,178,177)), color-stop(100%,rgb(140,156,154))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgb(140,156,154) 0%,rgb(157,178,177) 30%,rgb(157,178,177) 70%,rgb(140,156,154) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgb(140,156,154) 0%,rgb(157,178,177) 30%,rgb(157,178,177) 70%,rgb(140,156,154) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgb(140,156,154) 0%,rgb(157,178,177) 30%,rgb(157,178,177) 70%,rgb(140,156,154) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgb(140,156,154) 0%,rgb(157,178,177) 30%,rgb(157,178,177) 70%,rgb(140,156,154) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c9c9a', endColorstr='#8c9c9a',GradientType=1 ); /* IE6-9 */
	
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	background-color: rgba( 72, 92, 90, .6 );
	margin: 0 auto;
	margin-top: 2em;
	width: 60%;

	box-shadow: 3px 2px 6px 0px rgba(0,0,0,.2), -3px 2px 6px 0px rgba(0,0,0,.2);
}

header {
	color: rgba( 0, 0, 0, .3 );
	text-align: center;
	background-color: rgba( 62, 82, 80, .6 );
	padding: .5em 0px;

	border-bottom: solid 1px;
	border-color: rgba( 0, 0, 0, .3);
}

article {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(40%,rgba(0,0,0,0.3)), color-stop(60%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	
	padding: 1em 0em;
	border-bottom: solid 1px;
	border-color: rgba( 0, 0, 0, .2);
}

article dt {
	padding-left: 1em;
	color: rgba( 255,255,255,.6 );	
	font-weight: 700;
}

article dd {
	padding-left: 2.5em;
	color: rgba( 255,255,255,.4 );
	font-weight: 300;
	font-style: italic;
}

.helper {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(40%,rgba(0,0,0,0.3)), color-stop(60%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.3) 60%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	
	margin-top: .4em;
	padding: .4em .4em;
}

.helper span {
	background-color: rgba( 0, 0, 0, .25 );
	padding: 0em .4em;
	margin-right: 1em;
}

footer {
	color: rgba( 255, 255, 255, .3 );
	text-align: center;
	background-color: rgba( 255, 255, 255, .1 );
	padding:  .5em 0px;
}